<footer class="py-6 has-text-centered">
    <div>
        Prusinowsky @ <%- new Date().getFullYear() %>
    </div>
    <div>
        <a href="https://www.facebook.com/prusinowsky" target="_BLANK"><img class="social-icon" src="/svg/facebook.svg" alt="Facebook | Prusinowsky"></a>
        <a href="" target="_BLANK"><img class="social-icon" src="/svg/instagram.svg" alt="Instagram | Prusinowsky"></a>
        <a href="" target="_BLANK"><img class="social-icon" src="/svg/linkedin.svg" alt="LinkedIn | Prusinowsky"></a>
        <a href="" target="_BLANK"><img class="social-icon" src="/svg/youtube.svg" alt="Youtube | Prusinowsky"></a>
        <a href="" target="_BLANK"><img class="social-icon" src="/svg/spotify.svg" alt="Spotify | Prusinowsky"></a>
    </div>
</footer>