<header>
   <div class="navbar container">
      <div class="navbar-item">
         <a class="brand-link" href="/welcome"><img class="brand-logo" src="./prusinowsky.svg" alt="Prusinowsky"></a>
      </div>
      <div class="navbar-item">
         <%- include('navbar') %> 
      </div>
   </div>
</header>