<nav class="nav">
    <ul class="nav-list">
       <li class="nav-item"><a class="nav-link" href="/welcome">Strona Główna</a></li>
       <!-- <li class="nav-item"><a class="nav-link" href="/projects">Projekty</a></li>
       <li class="nav-item"><a class="nav-link" href="/photos">Fotografia</a></li> -->
       <li class="nav-item"><a class="nav-link" href="/about">O mnie</a></li> 
       <li class="nav-item"><a class="nav-link" href="/contact">Kontakt</a></li>
    </ul>
 </nav>