<!DOCTYPE html>
<html lang="pl">

<head>
    <% title=title.concat(" | Witam!") %>
        <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') -%>
        <main>
            <div class="main-wrap container">
                <h1 class="title is-2 course-title">Korepetycje</h1>

                <!-- Lekcje -->
                <div class="lessons">

                    <!-- Lekcja -->
                    <div class="lesson">
                        <div class="lesson-header">
                            <div class="lesson-title">
                                <h3 class="title is-3">
                                    Node.js - Strona na własnym serwerze
                                </h3>
                            </div>
                            <div class="lesson-arrow">
                                <i class="title is-3 fas fa-arrow-down"></i>
                            </div>
                        </div>
                        
                        <div class="lesson-body">
                            <h3 class="title is-4">Zadanie 1</h3>
                            <p>Korzystając z HTML i CSS, stwórz układ na stronie, w której znajdzie się po lewej stronie treść z nagłówkiem, a po prawej zdjęcie. Do dzieła! Powodzenia!</p>
                            <div class="has-text-centered task-photo">
                                <img src="/course/course-task-2.jpg" alt="Zadanie 1">
                            </div>

                            <h3 class="title is-4">Zadanie 2</h3>
                            <p>Korzystając z samego HTML i CSS, umieść na stronie internetowej zdjęcie, do którego dodasz ramkę przesuniętą w lewo i w górę. Jak pokazano na rysunku poniżej. Do dzieła! Powodzenia!</p>
                            <div class="has-text-centered task-photo">
                                <img src="/course/course-task-1.jpg" alt="Zadanie 1">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </main>
        <%- include('./partials/footer') -%>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll(".lesson").forEach($el => {
                const $lessonContent = $el.querySelector(".lesson-body")
                const $lessonArrow = $el.querySelector(".lesson-arrow i")
                $el.addEventListener('click', () => {
                    const isHidden = $lessonContent.classList.contains("is-hidden");
                    if(isHidden) {
                        $lessonContent.classList.remove("is-hidden")
                        $lessonArrow.classList.remove("fa-arrow-down", "fa-arrow-up")
                        $lessonArrow.classList.add("fa-arrow-up")
                    } else {
                        $lessonContent.classList.add("is-hidden")
                        $lessonArrow.classList.remove("fa-arrow-down", "fa-arrow-up")
                        $lessonArrow.classList.add("fa-arrow-down")
                    }

                })
            })
        })
    </script>
</body>

</html>