<!DOCTYPE html>
<html lang="pl">

<head>
    <% title=title.concat(" | Witam!") %>
        <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') -%>
        <main>
            <div class="main-wrap container is-flex is-flex-wrap-wrap is-justify-content-space-between">
                <div class="lead">
                    Oferta kursów
                </div>
            </div>
        </main>
        <%- include('./partials/footer') -%>
</body>

</html>