<!DOCTYPE html>
<html lang="pl">

<head>
    <% title += " | Witam!" %>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') -%>
        <main>
            <div class="main-wrap container is-flex is-flex-wrap-wrap is-justify-content-space-between">
                <div class="lead">
                    <h1 class="title is-2">&lt;b&gt;<span
                            class="has-primary-color is-capitalized">Projekty</span>&lt;/b&gt;</h1>
                    <div class="description">
                        Tu dodam coś o moich projektach
                    </div>
                </div>
                <div class="photo-box is-half">
                    <img class="photo" src="./photo.jpg" alt="Patryk Prusinowski">
                </div>
            </div>
        </main>
        <%- include('./partials/footer') -%>

</body>
</html>