<!DOCTYPE html>
<html lang="pl">

<head>
    <% title = title.concat(" | 404 Nie znalezion strony") %>
    <%- include('../partials/head') -%>
</head>

<body>
    <%- include('../partials/header') -%>
        <main>
            <div class="main-wrap container is-flex is-flex-wrap-wrap is-justify-content-space-between">
                <div class="lead">
                    <h1 class="title is-2"><span class="has-primary-color is-capitalized">404 </span>
                        - Not Found</h1>
                    <h1 class="title is-4"><span class="has-primary-color is-capitalized">Upsss,</span> nie znaleziono
                        strony :( </h1>
                </div>
                <div class="photo-box is-half">
                    <img class="photo" src="./photo.jpg" alt="Patryk Prusinowski">
                </div>
            </div>
        </main>
        <%- include('../partials/footer') -%>
</body>

</html>